* {
  font-family: monaco;
}
.form_style{
	border: 3px dotted black;
	margin: 20px;
	padding: 10px;
	width: 600px;
}

.errors{
	color: red;
}

.success{
	color: green;
}

.data{
	padding: 15px;
}

.navbar-brand h3{
	margin-top: 0px;
}

.buttons{
	margin: 10px 0px 0px 820px;
}


#trip_main{
	display: inline-block;
	padding-right: 30px;
	height: 400px;
	border-right: 1px solid black;
}
#trip_others{
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	vertical-align: top;
}
li{
	list-style-type: none;
}