* {
  font-family: monaco;

}
body{
	/*background-color: lightblue;*/
}
#login_form{
	margin: 5px 0px 0px 300px;
	display: inline-block;
}

.errors{
	color: red;
}

.success{
	color: green;
}

.data{
	padding: 15px;
}

.navbar-brand h3{
	margin-top: 0px;
}

.buttons{
	margin: 10px 0px 0px 600px;
	display: inline-block;
}

.logo{
	width: 48px;
	height: 40px;
	background: url('../imgs/logo3.png');
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
}
.logo_main{
	margin: 0px 0px 0px 150px;
	width: 200px;
}
.logo_sub{
	margin: 0px 0px 0px 150px;
	width: 200px;
}
.title{
	display: inline-block;
	vertical-align: top;
/*	border-bottom: 2px solid #2a6599;*/
	color: #2289f6;
}
#trip_main{
	display: inline-block;
	padding-right: 30px;
	height: 400px;
	border-right: 1px solid black;
}
#trip_others{
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	vertical-align: top;
}
#body_container{
    background: lightblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(lightblue, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(lightblue, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(lightblue, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(lightblue, white); /* Standard syntax */
}
#banner{
    background: lightblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(lightblue, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(lightblue, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(lightblue, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(lightblue, white); /* Standard syntax */
    vertical-align: top;
}
	#banner img{
		margin: 50px 0px 30px 125px;
	}
#caption{
	margin: 0px 0px 30px 10px;
	vertical-align: top;
}
#globe{

	display: inline-block;
	width: 400px;
	height: 400px;
	margin: 15px 0px 0px 125px;
	vertical-align: top;
}	

#register_form{
	display: inline-block;
	width: 500px;
}
li{
	list-style-type: none;
}
.message{
	display: inline-block;
	width: 400px;

	margin: 55px 0px 0px 125px;
	vertical-align: top;
}