<!DOCTYPE html>
<html lang="en">
<head>
	<title>Add a trip</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
			<img src="../static/imgs/logo5.png" class="logo_sub">
	        <div class="buttons">
		        <a href="/display_success"><button type="submit" class="btn btn-info" id="home_button">Home</button></a>
		        <a href="/logout"><button type="submit" class="btn btn-default blue" id="logout_button">Logout</button></a>
	        </div>
	    </div>
	  </div>
	</nav>
	<div class="container">
		<div class="page-header">
  			<h1 style="color: #265a88">Plan a Trip!</h1>
		</div>
		  {% with messages = get_flashed_messages(with_categories = true) %}
		    {% if messages %}
		      	<div class="message">
		      {% for category, message in messages %}
		        <li class="{{category}}"><p>{{message}}</p></li>
		      {% endfor %}
		        </div>
		    {% endif %}
		  {% endwith %}
		<form role="form" action="/add_process" method="post">
		  <div class="form-group">
				<p>Destination: <input type="text" class="form-control" name="destination"></p>
		  </div>
		  <div class="form-group">
		    	<p>Description: <input type="text" class="form-control" name="plan"></p>
		  </div>
		  <div class="form-group">
		    	<p>Travel Start Date: <input type="date" class="form-control" name="start_date"></p>
		  </div>
		  <div class="form-group">
		    	<p>Travel End Date: <input type="date" class="form-control" name="end_date"></p>
		  </div>
		  <button type="submit" class="btn btn-success">Submit</button>
		</form>
	</div>
</body>
</html>