<!DOCTYPE html>
<html lang="en">
<head>
	<title>Success Page</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>
	<div class="container"> 
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">
		        <h3>Trip Planner</h3>
		        <div class="buttons">
			        <a href="/add_a_trip"><button type="submit" class="btn btn-primary" id="add_trip_button">Add a Trip</button></a>
			        <a href="/logout"><button type="submit" class="btn btn-default blue" id="logout_button">Logout</button></a>
		        </div>
		      </a>
		    </div>
		  </div>
		</nav>

  		<h1 style="color: #265a88">Welcome, {{username}}!</h1>
		<div class="page-header">
  			<h1>My Trips</h1>
		</div>
		<div class="table-responsive" id="my_trip_table">
		  <table class="table-hover">
			<thead>
				<tr>
					<th class = "data">Destination</th>
					<th class = "data">Travel Start Date</th>
					<th class = "data">Travel End Date</th>
					<th class = "data">Plan</th>
				</tr>
			</thead>
			<tbody>
				{% if my_trips %}
					{% for my_trip in my_trips %}
						<tr>
							<td class = "data"><a href="/display_trip/{{my_trip['trip_id']}}">{{my_trip['destination']}}</a></td>
							<td class = "data">{{my_trip['start_date']}}</td>
							<td class = "data">{{my_trip['end_date']}}</td>
							<td class = "data">{{my_trip['plan']}}</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		  </table>
		</div>
		<div class="page-header">
  			<h1>Others' Trips</h1>
		</div>
		<div class="table-responsive">
  			<table class="table-hover" id="others_trip_table">
				<thead>
					<tr>
						<th class = "data">Name</th>
						<th class = "data">Destination</th>
						<th class = "data">Travel Start Date</th>
						<th class = "data">Travel End Date</th>
						<th class = "data">Do you want to join?</th>
					</tr>
				</thead>
				<tbody>
					{% if other_trips %}
						{% for trip in other_trips %}
							<tr>
								<td class = "data">{{trip['username']}}</td>
								<td class = "data"><a href="/display_trip/{{trip['trip_id']}}">{{trip['destination']}}</a></td>
								<td class = "data">{{trip['start_date']}}</td>
								<td class = "data">{{trip['end_date']}}</td>
								<td><a href="/join/{{trip['trip_id']}}">Join</a></td>
							</tr>
						{% endfor %}
					{% endif %}
				</tbody>    			
  			</table>
		</div>
	</div>
</body>
</html>